.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  @media screen and (min-width: 768px) {
    gap: 32px;
    padding-top: 60px;
  }
  @media screen and (min-width: 1280px) {
    gap: 16px;
  }
}

.gallery__container {
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;

  @media screen and (min-width: 320px) {
    width: 320px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1280px) {
    width: 1280;
  }
}

.card {
  width: 280px;
  height: 443px;
  margin-bottom: 20px;
  border-radius: 5px;
  position: relative;

  @media screen and (min-width: 768px) {
    width: 336px;
    height: 494px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 16px;
    width: 395px;
    height: 634px;
    //flex: 0 0 calc(33.33% - 20px);
  }
}

.card:hover .card__pic {
  cursor: pointer;
  transform: scale(103%);
  box-shadow: 0px 0px 10px 1px grey;
  z-index: 1;
}

.card:hover .card__info {
  transition: text-shadow 0.5s;
  text-shadow: 1px 1px 12px rgba(0, 0, 0, 0.2), 0px -4px 10px rgba(255, 255, 255, 0.3);
}

.card__pic {
  transition: box-shadow 0.5s, transform 0.5s;
  width: 100%;
  height: 402px;
  border-radius: 5px;
  @media screen and (min-width: 768px) {
    height: 455px;
  }
  @media screen and (min-width: 1280px) {
    height: 574px;
  }
}

.card__info {
  padding-top: 15px;
  padding-left: 5px;
  width: 100%;
  height: 41px;
  @media screen and (min-width: 768px) {
    height: 42px;
  }
  @media screen and (min-width: 1280px) {
    height: 70px;
  }
}

.no-results {
  display: flex;
  width: 200px;
  height: 200px;
  background-image: url('/src/images/svg/no-results.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

//trailer
.trailer-button {
  outline: none;
  cursor: pointer;
  width: 25%;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  padding: 2px 16px;
  height: 32px;
  min-width: 60px;
  min-height: 32px;
  border: none;
  color: #fff;
  background-color: rgba(188, 12, 12, 0.55);
  transition: background-color 0.17s ease, color 0.17s ease;
  position: absolute;
  z-index: 1;
  bottom: 30px;
  left: 5px;

  @media screen and (min-width: 768px) {
    bottom: 25px;
  }
  @media screen and (min-width: 1280px) {
    bottom: 50px;
  }
}

.card:hover .trailer-button {
  cursor: pointer;
  transform: scale(103%);
  z-index: 1;
}

.trailer-button:hover {
  box-shadow: 0px 0px 10px 1px grey;
  background-color: rgba(188, 12, 12, 0.88);
}

// .card:hover .trailer-button {
//   transition: text-shadow 0.5s;
//   text-shadow: 1px 1px 12px rgba(0, 0, 0, 0.2), 0px -4px 10px rgba(255, 255, 255, 0.3);
// }

iframe {
  position: relative;
  min-width: 50vw;
  height: 60vh;
}
