.back-to-top {
  display: none;
  position: fixed;
  bottom: 90px;
  right: 25px;
  z-index: 9;
  border: none;
  outline: none;
  background-color: rgba(188, 12, 12, 0.55);
  color: $color-header;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  font-size: 18px;
}

.back-to-top:hover {
  background-color: rgba(188, 12, 12, 0.88);
}
