$color_1: black;
$color_2: white;
$background-color_1: white;
$background-color_2: orange;

.pagination {
	display: flex;
	list-style: none;
	padding: 0;
}
.pagination__item {
	margin-right: 5px;
}
.pagination__link {
	display: block;
	padding: 5px 10px;
	background-color: $background-color_1;
	color: $color_1;
	text-decoration: none;
	transition: background-color 0.3s;
	&:hover {
		background-color: $background-color_2;
		color: $color_2;
	}
}
.pagination__link.active {
	background-color: $background-color_2;
	color: $color_2;
}
